In [3]:
import pandas as pd
import os

# 1. Importando dados de empréstimos a partir dos datasets em .csv

In [4]:
pasta = 'Datasets/dados_emprestimos'
arquivos = [f for f in os.listdir(pasta) if ".csv" in f and os.path.isfile(os.path.join(pasta, f))]
df=pd.DataFrame()

for arquivo in arquivos:
    print(arquivo)
    arquivo="Datasets/dados_emprestimos/"+arquivo
    df = pd.concat([df, pd.read_csv(arquivo)], axis=0, ignore_index=True)

emprestimos-20141.csv

emprestimos-20191.csv
emprestimos-20172.csv
emprestimos-20171.csv
emprestimos-20162.csv
emprestimos-20182.csv
emprestimos-20181.csv
emprestimos-20102.csv
emprestimos-20192.csv
emprestimos-20132.csv
emprestimos-20152.csv
emprestimos-20201.csv
emprestimos-20101.csv
emprestimos-20142.csv
emprestimos-20112.csv
emprestimos-20111.csv
emprestimos-20161.csv
emprestimos-20131.csv
emprestimos-20122.csv
emprestimos-20151.csv
emprestimos-20121.csv

In [5]:
df

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,1659526,Y018631,NaN,2014/01/02 07:27:19.018000000,2014/01/27 14:07:45.000000000,2.011020e+09,ALUNO DE GRADUAÇÃO
1,1659527,2011018134,2014/02/02 18:59:52.193000000,2014/01/02 07:57:33.780000000,2014/02/27 16:56:46.000000000,3.456619e+06,DOCENTE
2,1659528,2013011501,2014/02/02 18:59:51.423000000,2014/01/02 07:57:33.891000000,2014/02/27 16:56:51.000000000,3.456619e+06,DOCENTE
3,1659529,2012052570,NaN,2014/01/02 08:01:27.966000000,2014/01/21 07:16:23.000000000,2.013037e+09,ALUNO DE GRADUAÇÃO
4,1659530,2012029554,2014/01/13 09:05:33.092000000,2014/01/02 08:04:35.150000000,2014/01/20 18:04:37.000000000,2.013013e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
2258013,1282495,2010061915,2012/07/30 11:11:03.756000000,2012/06/28 19:05:46.770000000,2012/08/22 15:26:45.000000000,2.011213e+09,ALUNO DE PÓS-GRADUAÇÃO
2258014,1282496,2012010297,NaN,2012/06/28 19:05:46.811000000,2012/07/03 10:45:50.000000000,2.011213e+09,ALUNO DE PÓS-GRADUAÇÃO
2258015,1282497,L154726,2012/07/12 20:35:02.433000000,2012/06/28 19:06:52.388000000,2012/08/07 13:35:38.000000000,2.011056e+09,ALUNO DE GRADUAÇÃO
2258016,1282498,L156466,NaN,2012/06/28 19:06:52.433000000,2012/07/04 12:26:37.000000000,2.011056e+09,ALUNO DE GRADUAÇÃO
2258017,1282499,2008040082,NaN,2012/06/28 19:45:49.207000000,2012/07/04 13:24:14.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO